<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated homework1_1 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ecore_homework1.1.homework1_1.presentation.Homework1_1ModelWizardID"
            name="%_UI_Homework1_1ModelWizard_label"
            class="ecore_homework1.1.homework1_1.presentation.Homework1_1ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Homework1_1ModelFile.gif">
         <description>%_UI_Homework1_1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated homework1_1 -->
      <editor
            id="ecore_homework1.1.homework1_1.presentation.Homework1_1EditorID"
            name="%_UI_Homework1_1Editor_label"
            icon="icons/full/obj16/Homework1_1ModelFile.gif"
            extensions="homework1_1"
            class="ecore_homework1.1.homework1_1.presentation.Homework1_1Editor"
            contributorClass="ecore_homework1.1.homework1_1.presentation.Homework1_1ActionBarContributor">
      </editor>
   </extension>

</plugin>
